* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.Icon {
  margin-left: 6px;
}
ul {
  padding: 0;
}

.Nav--Faculity {
  width: 100%;
  padding: 10px;
}

.Nav--Faculity .Nav-Links {
  margin: auto;
  width: 90%;
  
  display: flex;
  justify-content: space-around;
  padding: 0;
  align-items: center;
  text-align: center;
}
.Nav--Faculity .Nav-Links li img{
  width: 15vw;
}
.Nav--Faculity .Nav-Links a {
  font-size: 1.3vw;
  padding: 0.5em;
}

.Nav--Faculity .Nav-Links .Down--Drob {
  display: none;
  position: relative;
  z-index: 1;
  /*padding-top: 2rem;*/
}
.Nav--Faculity .Nav-Links .Down--Drob .Faculities--form {
  position: absolute;
  width: 13vw;
  padding: 0.5em;
  background-color:rgba(221, 221, 221, .4);
  top: 0.5rem;
}
.Nav--Faculity .Nav-Links .Down--Drob .Faculities--form .Un--OR {
  display: flex;
  flex-direction: column;
  align-items: center;

}
.Nav--Faculity .Nav-Links .Down--Drob .Faculities--form .Un--OR li{
  padding: 3px 0;
}
.Nav--Faculity .Nav-Links .Down--Drob .Faculities--form .Un--OR li a {
  padding: 0.1em 0;
  font-size: 1vw;
  color:black;
  /*border-bottom: 1px solid black;*/
}
.Nav--Faculity
  .Nav-Links
  .Down--Drob
  .Faculities--form
  .Un--OR
  li:not(:last-child)
  a {
  border-bottom: 2px solid black;
}
.Nav--Faculity .Nav-Links .Down--Drob .Faculities--form .Un--OR li a:hover {
  padding-left: 5px;
}
.Nav--Faculity .Nav-Links li:hover .Down--Drob {
  display: flex;
}
/*Slider*/
.carousel-control-next,
.carousel-control-prev {
  margin: 100px 0;
  color: aqua;
}
.carousel-control-prev-icon ,
.carousel-control-next-icon{
  background-color: black;
}
.carousel-dark .carousel-control-prev-icon,
.carousel-dark .carousel-control-next-icon {
  
  filter: invert(0) grayscale(500);
}
.carousel-caption h5,.carousel-caption p{
  color: white;
}
.carousel-indicators button{
  background-color: white;

}


.carousel-dark .carousel-indicators [data-bs-target] {
     background-color: white; 
}