:root{
    --background: #263238;
    --textColor:#cccbc6;
    --Titles:#ffffff;
    --border:#2c393f;
    --orange: #f6852b;
}
body{
    font-size: 1rem;
    /* color: var(--mainColor); */
}
h4{
    color: var(--Titles);
}
span{
    padding-inline-end: 3px;
}

footer{
    background-color:var(--background);
    color: var(--textColor); 
    width: 100%;
    padding:  50px 0 10px 0;
    
}
footer .arrange--foot{
    margin: auto;
    display: grid;
    width: 90%;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
   
    text-align: start;
    border-bottom: 1px solid var(--border);
}
footer .arrange--foot>div{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 5%;
    overflow: hidden;
}

footer .arrange--foot>div .Quick--links{
    display: flex;
    flex-direction: column;
}
footer .arrange--foot>div .Quick--links a{
    color: #cccbc6;
}
footer .arrange--foot>div .Quick--links a:hover{
    padding-inline-start: 5px;
    color:var(--orange) ;
}
footer .Social--foot{
    width:350px;
    margin: auto;
    
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
}
footer .Social--foot>a{
    margin: 0;
    padding:10px;
    border: 2px solid var(--textColor);
    font-size: 1.3rem;
    border-radius:50%;
    display: flex;
    color: var(--textColor);
}
@media(max-width:1000px){
    footer .arrange--foot{
        grid-template-columns: repeat(2,1fr);
    }
}
@media(max-width:500px){
    footer .arrange--foot{
        grid-template-columns: repeat(1,1fr);
        text-align: center;
    }
}
@media(max-width:368px){
    footer .Social--foot{
        max-width: 280px;
    }
}