:root {
  --blue: #147499;
  --white: #ffffff;
  --orange: #f6852b;
  --dr-Orange: #ff8c00;
}
#Videos {
  /*background: linear-gradient(to bottom, #ece9e6, #ffffff); */
  /*background-color: #e7eff9;*/
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
.Statics #Videos--Title {
  width: 600px;
  
}
.Statics #Org--Videos {
  grid-template-columns: repeat(3, 1fr);
  padding-bottom: 0px;
  gap: 45px;
}
.Statics .Organize .Frames {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.Statics .Organize .Frames iframe {
  height: 300px;
  width: 95%;
  padding-bottom: 14px;
}
.Statics .Organize .Frames:hover {
  transform: scale(1.2);
}
.Statics .Organize .Frames a {
  padding: 0.5em 2em;
  /*background-color: ;*/
  font-size: 1.5rem;
  width: 95%;
  position: relative;
  color: #000;
  border: 1px solid black;
  border-radius: 4px;
}
.Statics .Organize .Frames a .Icon {
  padding-left: 3px;
  font-size: 1.8rem;
  transition: 1s;
  position: absolute;
  top: 18px;
}
.Statics .Organize .Frames a:hover {
  color: var(--orange);
}
.Statics .Organize .Frames a:hover .Icon {
  /*padding-left: 10px;*/
  transform: translateX(10px);
}

 span {
  animation-name: Move;
  animation-duration: 2s;
  animation-timing-function: linear;
  
}

/*@keyframes Move {
  0% {
    padding-right: 100px;
    opacity: 0;
  }
  10% {
    padding-right: 90px;
    opacity: 0.2;
  }
  40% {
    padding-right: 50px;
    opacity: 0.5;
  }
  100% {
    padding-right: 0;
    opacity: 1;
  }
}*/
@media(max-width:1270px){
    .Statics #Org--Videos{
        grid-template-columns: repeat(2,1fr);
        width: 94%;
       
    }
    .Statics .Organize .Frames:hover {
      transform: scale(1.1);
    }
}
@media(max-width:700px){
    .Statics #Org--Videos{
        grid-template-columns: repeat(1,1fr);
        padding: 5vh 0 2vh 0 ;

       
    }
    /*.Statics .Organize .Frames:hover {
       transform: scale(1.1);
      }*/
      .Statics #Videos--Title {
        width: 400px;
        padding-top: 2vh ;
      }
      h1{
        font-size: 2rem;
        

      }
}
@media(max-width:420px){
    .Statics #Videos--Title {
        width: 270px;
        font-size: 1.2rem;
        
      }
}
@media(max-width:300px){
    .Statics .Organize .Frames:hover {
        transform: scale(1);
      }
}

