.spinner {
  animation: spin infinite 1.5s ease-in-out;

  /*You can increase or decrease the timer (5s) to 
     increase or decrease the speed of the spinner*/
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.loading-wrapper {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f9fc;
}
html[dir="rtl"] .dropdown-menu.nav-dropdown.show,
html[dir="rtl"] .dropdown-item.show {
  right: 0 !important;
  left: unset !important;
}
html[dir="rtl"] .dropdown-menu.dropdown-menu-end.show {
  left: 0 !important;
  right: auto;
}
html[dir="rtl"] .dropdown-menu-arrow.dropdown-menu-end:before {
  right: 87%;
  left: 0;
}
