<% extend('layout') %> <% let fileList = 4; %>

<div class="card-body border-bottom py-3">
  <%- include('./add-news-form.ejs'); -%>
</div>
<script src="/scripts/image-preview.js"></script>
<script src="/scripts/multiple-files.js"></script>
<script src="/scripts/submit-form.js"></script>
