<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Menfia Dashboard</title>
  </head>
  <body>
    <div class="page">
      <%- include('./layout/aside'); -%>
      <div class="page-wrapper">
        <div class="container-xl">
          <div class="row row-cards">
            <div class="col-12">
              <div class="card card-lg">
                <div class="card-header">
                  <h3 class="card-title"><%= title %></h3>
                </div>
                <div><%- content %></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('./layout/links'); -%>
  </body>
</html>
