/*!**********************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/client/components/test.css ***!
  \**********************************************************************************/
.test {
  background-color: red;
  color: white;
  font-style: italic;
}
body {
  background-color: black;
  color: white;
}

