/*!******************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./client/components/Home_Page/Header.css ***!
  \******************************************************************************************/
:root {
  --blue: #147499;
  --white: #ffffff;
  --orange: #f6852b;
  --W-gray: #ddd;
}

a {
  cursor: pointer;
  /*text-decoration: none !important;*/
  z-index: 1;
}

/*==========Header===========*/

.header {
  width: 100%;
}

/*============Un order list============*/
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header .cont {
  width: 90%;
  margin: 0 auto;
  display: flex;
  padding: 1vw;
  align-items: center;
  justify-content: space-between;
}
.header .cont .logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-align: start;
}
.header .cont .logo img {
  width: 8em;
}
.header .cont .logo p {
  color: #147499;
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 0;
  /*max-width: 50%;*/
  
}

.header .cont .unorder {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.header .cont .unorder .Caption--Ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header .cont .unorder .Caption--Ul #Caption {
  margin: 0;
  font-size: 2.1rem;
  font-weight: 600;
  animation: Head-Ani;
  animation-duration: 3s;
  animation-timing-function: linear;
  color: var(--blue);
  font-style: italic;
  padding-bottom: 0;
}
.header .cont .unorder .Caption--Ul .mainul {
  display: flex;
  flex-direction: row-reverse;
  gap: 2vw;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  animation-name: Head--Animation;
  animation-duration: 3s;
  animation-timing-function: linear;
}
.header .cont .unorder .Caption--Ul .mainul li {
  display: flex;
  align-items: center;
  padding: .2em;
  padding-top: 0;
}

.header .cont .unorder .Caption--Ul .mainul .stl--search {
  display: flex;
  flex-direction: row-reverse;
  align-items: baseline;
  background-color: var(--W-gray);
  padding: 0 0.4em;
  border-radius: 20px;
  max-height: 50px;
  transition: all 1s;
}

.header .cont .unorder .Caption--Ul .mainul #log {
  height: 100%;
  border-radius: 4px;
  padding: 0 0.8em;
}
.header .cont .unorder .Caption--Ul .mainul #log:hover {
  background-color: var(--orange);
  color: var(--white);
}
.header .cont .unorder .Caption--Ul .mainul #log .Icon-log {
  padding-inline-start: 0.2em;
  font-size: 1.6rem;
}
/*===============input (Search)==============*/
.header .cont .unorder .Caption--Ul .mainul input {
  width: 0;
  height: 3%;
  border: none;
  outline: none;
  border-radius: 7px;
  padding: 0;
  font-size: 1.5rem;
  color: var(--orange);
  background-color: transparent;
  display: flex;
  align-items: center;
  transition: all 0.8s ease-out;
  /*height: auto;*/
}

.header .cont .unorder .Caption--Ul .mainul .stl--search:hover input {
  width: 15vw;
  padding: 0.1em 0.4em;
}
.header .cont .unorder .Caption--Ul .mainul #btn--search {
  padding: 0.2em;
  transition: 1s;
}
/*===============<a>Tags=============*/
.header .cont .unorder .mainul a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #147499;
  font-weight: 500;
}


/*============ Images in header ===========*/
.header .cont .unorder .Caption--Ul img {
  width: 3vw;
  padding-left: 0.5vw;
  padding-bottom: 0.5vw;
}
.header .cont .unorder .Caption--Ul .dis--row .mainul li .flag {
  padding: 0;
  padding-left: 2px;
  height: 1.5vw;
  object-fit: cover;
  border-radius: 5px;
}

/*============Animations==============*/
@keyframes Head--Animation {
  0% {
    transform: translateX(-13vw);

    opacity: 0.4;
  }
  80% {
    /*justify-content: center ;
        /*align-items: center;*/
    transform: translateX(2vw);
  }
  100% {
    transform: translateX(0vw);
    opacity: 1;
  }
}
@keyframes Head-Ani {
  0% {
    transform: translateX(7vw);
    opacity: 0.4;
  }
  80% {
    transform: translateX(-3vw);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
/*==============Media Quers===========*/
@media (max-width: 1600px) {
  .header .cont .logo img {
    width: 7em;
  }
  .header .cont .logo p {
    font-size: 1.9rem;
  }
  .header .cont .unorder .Caption--Ul #Caption {
    font-size: 1.5rem;
    padding: 0 0 0.2em 0;
  }
}
@media (max-width: 1360px) {
  .header .cont .logo img {
    width: 5em;
  }
  .header .cont .logo p {
    font-size: 1.6rem;
  }
  .header .cont .unorder .Caption--Ul #Caption {
    font-size: 1.3rem;
    padding: 0 0 0.2em 0;
  }
  .header .cont .unorder .mainul a {
    font-size: 1.3rem;
  }
  .header .cont .unorder .Caption--Ul .mainul input {
    font-size: 1.15rem;
  }
}
@media (max-width: 900px) {
  .header .cont .logo img {
    width: 3.7em;
  }
  .header .cont .logo p {
    font-size: 1.2rem;
  }
  .header .cont .unorder .Caption--Ul #Caption {
    font-size: 1rem;
    padding: 0 0 0.2em 0;
  }
  .header .cont .unorder .mainul a {
    font-size: 1rem;
  }
  .header .cont .unorder .Caption--Ul .mainul input {
    font-size: 0.8rem;
  }
  .header .cont .unorder .Caption--Ul .mainul #log .Icon-log {
    font-size: 1.3rem;
  }
  
}
@media (max-width: 680px) {
  .header .cont .logo img {
    width: 2.5em;
  }
  .header .cont .logo p {
    font-size: 0.7rem;
    margin: 0;
  }
  .header .cont .unorder .Caption--Ul #Caption {
    font-size: 0.58rem;
  }
  .header .cont .unorder .mainul a {
    font-size: 0.6rem;
    align-items: baseline;
  }
  .header .cont .unorder .Caption--Ul .mainul input {
    font-size: 0.5rem;
  }
  .header .cont .unorder .Caption--Ul .mainul #log .Icon-log {
    font-size: 1rem;
  }
  
  /*.header .cont .unorder .Caption--Ul .mainul{
    flex-direction: column;
}*/
}
@media (max-width: 380px) {
  .header .cont .unorder .Caption--Ul .mainul a {
    /*height: 10px;*/
    padding-bottom: 2px;
    font-size: 0.5rem;
  }
  .header .cont {
    min-width: 280px;
  }
  .header .cont .logo img {
    width: 2em;
  }
  .header .cont .logo .dis--coll{
    display: flex;
    flex-direction: column;
  }
  .header .cont .logo p {
    font-size: 0.6rem;
    margin: 0;
  }
  .header .cont .unorder .Caption--Ul .mainul {
    align-items: center;
  }
  .header .cont .unorder .Caption--Ul .mainul  li{
    max-height: 15px;
  }
  .header .cont .unorder .Caption--Ul #Caption {
    font-size: 0.5rem;
    padding: 0;
  }
  .header .cont .unorder .Caption--Ul .mainul #log .Icon-log {
    font-size: 0.7rem;
  }
  .header .cont .unorder .Caption--Ul .dis--row .mainul li .flag{
    height: 2.5vw;
    margin-bottom: 2px;
  }
}

/*!**************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./client/components/Home_Page/Addinstrations.css ***!
  \**************************************************************************************************/


/*!******************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./client/components/Home_Page/slider.css ***!
  \******************************************************************************************/
.back{
    background-color: #ddd;
    height: 100%;
}
.back .container--Slide{
    width: 100%;
    height: 100%;
    margin: 0;
}
.back .container--Slide .slider{
    height: 100%;
}
.back .container .slider{
    height: 600px;
    width: 100%;
}
.carousel{
    height: 100%;
}
.carousel-inner{
    height: 100%;
}
.carousel-item{
    height: 100%;
}
.carousel-item img{
    height: 100%;
}
/*!*******************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./client/components/Home_Page/Statics.css ***!
  \*******************************************************************************************/
:root {
  --blue: #147499;
  --white: #ffffff;
  --orange: #f6852b;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1 {
  font-size: 3rem;
}
.Statics {
  width: 100%;
  padding: 3% 0 6% 0;
  min-width: 350px;
}
#Stc--bottom {
  padding-bottom: 0;
}
.Title {
  width: 350px;
  margin: auto;
  text-align: center;
  border-bottom: 2px solid var(--orange);
}
.Statics .Organize {
  width: 90%;
  /*display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;*/
  padding: 7% 0;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  min-width: 350px;
}
@media (max-width: 1100px) {
  .Statics .Organize {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 450px) {
  .Statics {
    min-width: 280px;
  }
  .Statics .Organize {
    grid-template-columns: repeat(1, 1fr);
    min-width: 280px;
  }
  .Title {
    width: 270px;
  }
}

/*!**************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./client/components/Home_Page/VideosAboutUni.css ***!
  \**************************************************************************************************/
:root {
  --blue: #147499;
  --white: #ffffff;
  --orange: #f6852b;
  --dr-Orange: #ff8c00;
}
#Videos {
  /*background: linear-gradient(to bottom, #ece9e6, #ffffff); */
  /*background-color: #e7eff9;*/
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
.Statics #Videos--Title {
  width: 600px;
  
}
.Statics #Org--Videos {
  grid-template-columns: repeat(3, 1fr);
  padding-bottom: 0px;
  gap: 45px;
}
.Statics .Organize .Frames {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}
.Statics .Organize .Frames iframe {
  height: 300px;
  width: 95%;
  padding-bottom: 14px;
}
.Statics .Organize .Frames:hover {
  transform: scale(1.1);
}
.Statics .Organize .Frames a {
  padding: 0.5em 2em;
  font-size: 1.5rem;
  width: 95%;
  position: relative;
  color: #000;
  border: 1px solid black;
  border-radius: 4px;
  text-decoration: none;
}
.Statics .Organize .Frames a .Icon {
  padding-left: 3px;
  font-size: 1.8rem;
  transition: 1s;
  position: absolute;
  top: 18px;
}
.Statics .Organize .Frames a:hover {
  color: var(--orange);
}
.Statics .Organize .Frames a:hover .Icon {
  /*padding-left: 10px;*/
  transform: translateX(10px);
}

 span {
  animation-name: Move;
  animation-duration: 2s;
  animation-timing-function: linear;
  
}

/*@keyframes Move {
  0% {
    padding-right: 100px;
    opacity: 0;
  }
  10% {
    padding-right: 90px;
    opacity: 0.2;
  }
  40% {
    padding-right: 50px;
    opacity: 0.5;
  }
  100% {
    padding-right: 0;
    opacity: 1;
  }
}*/
@media(max-width:1270px){
    .Statics #Org--Videos{
        grid-template-columns: repeat(2,1fr);
        width: 94%;
       
    }
    .Statics .Organize .Frames:hover {
      transform: scale(1.1);
    }
}
@media(max-width:700px){
    .Statics #Org--Videos{
        grid-template-columns: repeat(1,1fr);
        padding: 5vh 0 2vh 0 ;

       
    }
    /*.Statics .Organize .Frames:hover {
       transform: scale(1.1);
      }*/
      .Statics #Videos--Title {
        width: 400px;
        padding-top: 2vh ;
      }
      h1{
        font-size: 2rem;
        

      }
}
@media(max-width:420px){
    .Statics #Videos--Title {
        width: 270px;
        font-size: 1.2rem;
        
      }
}
@media(max-width:300px){
    .Statics .Organize .Frames:hover {
        transform: scale(1);
      }
}


/*!******************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./client/components/Home_Page/Figure.css ***!
  \******************************************************************************************/
.Statics .Figures{
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 3% 0;
    margin: auto;
}

.circle{
    position: relative;
    width: 100%;
    /*height: 400px;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px 0;
    
    
}
.circle .outer{
width: 164px;
height: 164px;
padding: 20px;
border-radius: 50%;
box-shadow: 6px 6px 6px -1px rgba(0,0,0,0.15),
-6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}
.circle .outer .inner{
width: 126px;
height: 126px;
border-radius: 50%;
box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
inset -4px -4px 6px -1px rgba(255,255,255,0.7),
-0.5px -0.5px 0px rgba(255,255,255,1),
0.5px 0.5px 0px rgba(0,0,0,0.15),
0px 12px 10px -10px rgba(0,0,0,0.05);
display: flex;
align-items: center;
justify-content: center;

}

circle{
    fill: none;
    stroke:var(--orange);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
   
    
    
}
.Animation{
    animation: Rotate 2s linear forwards;
}
 .circle #circle{
    position: absolute;
}
@keyframes Rotate{
    
    100%{
        stroke-dashoffset: 0;
    }
}

@media(max-width:450px){
    .circle{
        min-width:280px;
    }
}

/*!******************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./client/components/Home_Page/Footer.css ***!
  \******************************************************************************************/
:root{
    --background: #263238;
    --textColor:#cccbc6;
    --Titles:#ffffff;
    --border:#2c393f;
    --orange: #f6852b;
}
body{
    font-size: 1rem;
    /* color: var(--mainColor); */
}
h4{
    color: var(--Titles);
}
span{
    padding-inline-end: 3px;
}

footer{
    background-color:var(--background);
    color: var(--textColor); 
    width: 100%;
    padding:  50px 0 10px 0;
    
}
footer .arrange--foot{
    margin: auto;
    display: grid;
    width: 90%;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
   
    text-align: start;
    border-bottom: 1px solid var(--border);
}
footer .arrange--foot>div{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 5%;
    overflow: hidden;
}

footer .arrange--foot>div .Quick--links{
    display: flex;
    flex-direction: column;
}
footer .arrange--foot>div .Quick--links a{
    color: #cccbc6;
}
footer .arrange--foot>div .Quick--links a:hover{
    padding-inline-start: 5px;
    color:var(--orange) ;
}
footer .Social--foot{
    width:350px;
    margin: auto;
    
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
}
footer .Social--foot>a{
    margin: 0;
    padding:10px;
    border: 2px solid var(--textColor);
    font-size: 1.3rem;
    border-radius:50%;
    display: flex;
    color: var(--textColor);
}
@media(max-width:1000px){
    footer .arrange--foot{
        grid-template-columns: repeat(2,1fr);
    }
}
@media(max-width:500px){
    footer .arrange--foot{
        grid-template-columns: repeat(1,1fr);
        text-align: center;
    }
}
@media(max-width:368px){
    footer .Social--foot{
        max-width: 280px;
    }
}
/*!*************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./client/Pages/Tour.css ***!
  \*************************************************************************/
.wrapper {
  position: relative;
}
.btn-direction {
  position: absolute;
  bottom: 20px;
  z-index: 1;
  background-color: transparent;
  outline: 0;
  border: 1px solid orange;
}
.btn-left {
  left: 20px;
  z-index: 1;
}
.btn-right {
  right: 20px;
  z-index: 1;
}
.next-location {
  margin: auto;
  position: absolute;
  bottom: 20px;
  left: 50vw;
  transform: translateX(-50%);
  width: 300px;
  background-color: rgba(0, 0, 0, 0.575);
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 20px;
  text-transform: capitalize;
  color: white;
  text-align: center;
  z-index: 1;
}

/*!************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./client/Pages/map.css ***!
  \************************************************************************/
.map {
  position: fixed;
  width: 30%;
  min-width: 300px;
  height: 200px;
  border: 2px solid black;
  background-color: white;
  bottom: 150px;
  left: 40px;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
@media (max-width: 672px) {
  .map {
    width: 90%;
  }
}
.node {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid magenta;
  background-color: orange;
}

.circle {
  fill: #15314b;
  stroke: #626ee3;
  stroke-width: 3px;
}
text {
  fill: #fff;
}

.link {
  fill: none;
  stroke: #626ee3;
  stroke-width: 3px;
}
.active_node {
  fill: #b523aad9;
}

/*!************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./client/components/faculties/engineering/Nav-faculity.css ***!
  \************************************************************************************************************/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.Icon {
  margin-left: 6px;
}
ul {
  padding: 0;
}

.Nav--Faculity {
  width: 100%;
  padding: 10px;
}

.Nav--Faculity .Nav-Links {
  margin: auto;
  width: 90%;
  
  display: flex;
  justify-content: space-around;
  padding: 0;
  align-items: center;
  text-align: center;
}
.Nav--Faculity .Nav-Links li img{
  width: 15vw;
}
.Nav--Faculity .Nav-Links a {
  font-size: 1.3vw;
  padding: 0.5em;
}

.Nav--Faculity .Nav-Links .Down--Drob {
  display: none;
  position: relative;
  z-index: 1;
  /*padding-top: 2rem;*/
}
.Nav--Faculity .Nav-Links .Down--Drob .Faculities--form {
  position: absolute;
  width: 13vw;
  padding: 0.5em;
  background-color:rgba(221, 221, 221, .4);
  top: 0.5rem;
}
.Nav--Faculity .Nav-Links .Down--Drob .Faculities--form .Un--OR {
  display: flex;
  flex-direction: column;
  align-items: center;

}
.Nav--Faculity .Nav-Links .Down--Drob .Faculities--form .Un--OR li{
  padding: 3px 0;
}
.Nav--Faculity .Nav-Links .Down--Drob .Faculities--form .Un--OR li a {
  padding: 0.1em 0;
  font-size: 1vw;
  color:black;
  /*border-bottom: 1px solid black;*/
}
.Nav--Faculity
  .Nav-Links
  .Down--Drob
  .Faculities--form
  .Un--OR
  li:not(:last-child)
  a {
  border-bottom: 2px solid black;
}
.Nav--Faculity .Nav-Links .Down--Drob .Faculities--form .Un--OR li a:hover {
  padding-left: 5px;
}
.Nav--Faculity .Nav-Links li:hover .Down--Drob {
  display: flex;
}
/*Slider*/
.carousel-control-next,
.carousel-control-prev {
  margin: 250px 0;
  
}
.carousel-control-prev-icon ,
.carousel-control-next-icon{
  background-color: black;
}
.carousel-dark .carousel-control-prev-icon,
.carousel-dark .carousel-control-next-icon {
  
  filter: invert(0) grayscale(500);
}
.carousel-caption h5,.carousel-caption p{
  color: white;
}
.carousel-indicators button{
  background-color: white;

}


.carousel-dark .carousel-indicators [data-bs-target] {
     background-color: white; 
}
/*!*********************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./client/components/Sectors/PresidentSector/UniversityPresident.css ***!
  \*********************************************************************************************************************/
body{
    text-align: center;
}
/*!******************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./client/components/Home_Page/Common.css ***!
  \******************************************************************************************/
.icon{
    padding-inline-start:.2em;
    padding-inline-end:.2em ;
}
