/*!******************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./client/components/Home_Page/Header.css ***!
  \******************************************************************************************/
:root {
  --blue: #147499;
  --white: #ffffff;
  --orange: #f6852b;
  --W-gray: #ddd;
}

a {
  cursor: pointer;
  /*text-decoration: none !important;*/
  z-index: 1;
}

/*==========Header===========*/

.header {
  width: 100%;
}

/*============Un order list============*/
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header .cont {
  width: 90%;
  margin: 0 auto;
  display: flex;
  padding: 1vw;
  align-items: center;
  justify-content: space-between;
}
.header .cont .logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-align: start;
}
.header .cont .logo img {
  width: 8em;
}
.header .cont .logo p {
  color: #147499;
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 0;
  /*max-width: 50%;*/
  
}

.header .cont .unorder {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.header .cont .unorder .Caption--Ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header .cont .unorder .Caption--Ul #Caption {
  margin: 0;
  font-size: 2.1rem;
  font-weight: 600;
  animation: Head-Ani;
  animation-duration: 3s;
  animation-timing-function: linear;
  color: var(--blue);
  font-style: italic;
  padding-bottom: 0;
}
.header .cont .unorder .Caption--Ul .mainul {
  display: flex;
  flex-direction: row-reverse;
  gap: 2vw;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  animation-name: Head--Animation;
  animation-duration: 3s;
  animation-timing-function: linear;
}
.header .cont .unorder .Caption--Ul .mainul li {
  display: flex;
  align-items: center;
  padding: .2em;
  padding-top: 0;
}

.header .cont .unorder .Caption--Ul .mainul .stl--search {
  display: flex;
  flex-direction: row-reverse;
  align-items: baseline;
  background-color: var(--W-gray);
  padding: 0 0.4em;
  border-radius: 20px;
  max-height: 50px;
  transition: all 1s;
}

.header .cont .unorder .Caption--Ul .mainul #log {
  height: 100%;
  border-radius: 4px;
  padding: 0 0.8em;
}
.header .cont .unorder .Caption--Ul .mainul #log:hover {
  background-color: var(--orange);
  color: var(--white);
}
.header .cont .unorder .Caption--Ul .mainul #log .Icon-log {
  padding-inline-start: 0.2em;
  font-size: 1.6rem;
}
/*===============input (Search)==============*/
.header .cont .unorder .Caption--Ul .mainul input {
  width: 0;
  height: 3%;
  border: none;
  outline: none;
  border-radius: 7px;
  padding: 0;
  font-size: 1.5rem;
  color: var(--orange);
  background-color: transparent;
  display: flex;
  align-items: center;
  transition: all 0.8s ease-out;
  /*height: auto;*/
}

.header .cont .unorder .Caption--Ul .mainul .stl--search:hover input {
  width: 15vw;
  padding: 0.1em 0.4em;
}
.header .cont .unorder .Caption--Ul .mainul #btn--search {
  padding: 0.2em;
  transition: 1s;
}
/*===============<a>Tags=============*/
.header .cont .unorder .mainul a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #147499;
  font-weight: 500;
}


/*============ Images in header ===========*/
.header .cont .unorder .Caption--Ul img {
  width: 3vw;
  padding-left: 0.5vw;
  padding-bottom: 0.5vw;
}
.header .cont .unorder .Caption--Ul .dis--row .mainul li .flag {
  padding: 0;
  padding-left: 2px;
  height: 1.5vw;
  object-fit: cover;
  border-radius: 5px;
}

/*============Animations==============*/
@keyframes Head--Animation {
  0% {
    transform: translateX(-13vw);

    opacity: 0.4;
  }
  80% {
    /*justify-content: center ;
        /*align-items: center;*/
    transform: translateX(2vw);
  }
  100% {
    transform: translateX(0vw);
    opacity: 1;
  }
}
@keyframes Head-Ani {
  0% {
    transform: translateX(7vw);
    opacity: 0.4;
  }
  80% {
    transform: translateX(-3vw);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
/*==============Media Quers===========*/
@media (max-width: 1600px) {
  .header .cont .logo img {
    width: 7em;
  }
  .header .cont .logo p {
    font-size: 1.9rem;
  }
  .header .cont .unorder .Caption--Ul #Caption {
    font-size: 1.5rem;
    padding: 0 0 0.2em 0;
  }
}
@media (max-width: 1360px) {
  .header .cont .logo img {
    width: 5em;
  }
  .header .cont .logo p {
    font-size: 1.6rem;
  }
  .header .cont .unorder .Caption--Ul #Caption {
    font-size: 1.3rem;
    padding: 0 0 0.2em 0;
  }
  .header .cont .unorder .mainul a {
    font-size: 1.3rem;
  }
  .header .cont .unorder .Caption--Ul .mainul input {
    font-size: 1.15rem;
  }
}
@media (max-width: 900px) {
  .header .cont .logo img {
    width: 3.7em;
  }
  .header .cont .logo p {
    font-size: 1.2rem;
  }
  .header .cont .unorder .Caption--Ul #Caption {
    font-size: 1rem;
    padding: 0 0 0.2em 0;
  }
  .header .cont .unorder .mainul a {
    font-size: 1rem;
  }
  .header .cont .unorder .Caption--Ul .mainul input {
    font-size: 0.8rem;
  }
  .header .cont .unorder .Caption--Ul .mainul #log .Icon-log {
    font-size: 1.3rem;
  }
  
}
@media (max-width: 680px) {
  .header .cont .logo img {
    width: 2.5em;
  }
  .header .cont .logo p {
    font-size: 0.7rem;
    margin: 0;
  }
  .header .cont .unorder .Caption--Ul #Caption {
    font-size: 0.58rem;
  }
  .header .cont .unorder .mainul a {
    font-size: 0.6rem;
    align-items: baseline;
  }
  .header .cont .unorder .Caption--Ul .mainul input {
    font-size: 0.5rem;
  }
  .header .cont .unorder .Caption--Ul .mainul #log .Icon-log {
    font-size: 1rem;
  }
  
  /*.header .cont .unorder .Caption--Ul .mainul{
    flex-direction: column;
}*/
}
@media (max-width: 380px) {
  .header .cont .unorder .Caption--Ul .mainul a {
    /*height: 10px;*/
    padding-bottom: 2px;
    font-size: 0.5rem;
  }
  .header .cont {
    min-width: 280px;
  }
  .header .cont .logo img {
    width: 2em;
  }
  .header .cont .logo .dis--coll{
    display: flex;
    flex-direction: column;
  }
  .header .cont .logo p {
    font-size: 0.6rem;
    margin: 0;
  }
  .header .cont .unorder .Caption--Ul .mainul {
    align-items: center;
  }
  .header .cont .unorder .Caption--Ul .mainul  li{
    max-height: 15px;
  }
  .header .cont .unorder .Caption--Ul #Caption {
    font-size: 0.5rem;
    padding: 0;
  }
  .header .cont .unorder .Caption--Ul .mainul #log .Icon-log {
    font-size: 0.7rem;
  }
  .header .cont .unorder .Caption--Ul .dis--row .mainul li .flag{
    height: 2.5vw;
    margin-bottom: 2px;
  }
}

/*!**************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./client/components/Home_Page/Addinstrations.css ***!
  \**************************************************************************************************/
.news{
    width: 100%;
    padding-top: 4%;
    /* background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%); */

}
.Addmins {
  max-width: 1200px;
  margin: 0 auto;
  
   padding:3% 0 5% 0; 
  min-width: 270px;
  display: flex;
  flex-wrap: wrap;
}

/*!***************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./client/components/Home_Page/Nav.css ***!
  \***************************************************************************************/
:root {
  --blue: #147499;
  --white: #ffffff;
  --orange: #f6852b;
  --backGround: rgba(20, 116, 153, 0.5);
}
a {
  cursor: pointer;
  text-decoration: none;
  z-index: 1;
}
.lock--Icon:hover,
#Show:hover {
  color: var(--orange);
  /*background-color: var(--orange);*/
  cursor: pointer;
}
.nav {
  width: 100%;
  height: 65px;
  z-index: 2;
  color: var(--white);
  min-width: 280px;
}
/**bars icon in large screen **/
#Show {
  display: none;
}
.nav .un--list {
  width: 100%;
  height: 102%;
  background-color: var(--blue);
  display: flex;
  
}
.nav .un--list ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding:0 1% ;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.nav .un--list ul li {
  width: 100%;
  height: 100%;
  font-size: 1.07rem;
  font-weight: 500;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  position: relative;
  /* flex-direction: column; */
}
.nav .un--list ul .Main--list{
  font-weight: 600;
  padding: .2em 0;
}
.nav .un--list ul .Main--list a{
  padding: 0 .2em;
  /* height: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
}
/*******Down Arrow Animation*******/
.nav .un--list ul .Main--list:hover a #down .downIcon{
  animation-name: Down;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
  animation-iteration-count: 3;
}
.nav .un--list .Bar--Icon {
  display: none;
}

.nav .un--list .Maa--Ul > li:hover {
  background-color: var(--orange);
  transition: 0.5s;
}

.nav .un--list li .Drop--Down--Add {
  position: absolute;
  top: 65px;
  left: -2px;
  z-index: 1;
  width: 250px;
  background-color: #cccbc6;
  /* padding: .4em 0; */
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 1rem;
  
}

.nav .un--list li .Drop--Down--Add .admins--form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  transition: 0.3s;
}
.nav .un--list li .Drop--Down--Add .In--Unor {
  flex-direction: column;
}
.nav .un--list li .Drop--Down--Add .In--Unor li {
  justify-content: flex-start;
  font-size: .95rem;
  padding: 0 .5em;
  
}
.nav .un--list li .Drop--Down--Add .In--Unor li:not(:last-child) a {
  border-bottom: 2px solid var(--orange);
}
.nav .un--list li .Drop--Down--Add .In--Unor li a {
  width: 100%;
  padding: 0.5vw 0;
  line-height: 1;
}
.nav .un--list li .Drop--Down--Add ul a:hover {
  color: var(--orange);
  /* padding-inline-start: 5px; */
  transform: scale(1.03);
  transition: 0.5s;

}
.nav .un--list ul .Main--list a .downIcon{
  padding:0 .3em ;
  
}
/******first Element****/
.nav .un--list .Maa--Ul #Admins #example-collapse-Admin{
  width:23vw;
  left: 0;
  
}
.nav .un--list .Maa--Ul #Digital-Trans #example-collapse-Digital-Trans,
.nav .un--list .Maa--Ul #Arriv--Manage #example-collapse-Arrive--Manage{
  left:-155px;
}

/*large Screens >1000px*/
@media(min-width:1001px){
  .nav .un--list li .Drop--Down--Add{
    display: none;
    
  }
  .nav .un--list .Maa--Ul > li:hover .Drop--Down--Add {
    display: flex;
  }
  .nav .un--list ul .Main--list a{
    height: 100%;
    line-height: 1.2;
  }
  
  .nav .un--list #Media:hover .Drop--Down--Add {
    display: flex;
    background-color: rgba(221, 221, 221, 0.7);
    width: 13vw;
  }
  .nav .un--list ul .Main--list:not(:first-child){
    border-left: 2px solid var(--white);
  }
  .nav .un--list ul .Main--list:first-child{
    border-left: 2px solid var(--white);
  }
  .nav .un--list ul .Main--list:last-child{
    border-right: 2px solid var(--white);
  }
    
  
}
/******Daily_News*****/
.nav #News{
    display: none;

}
.nav .un--list .close--Icon{
    display: none;
}
@media (max-width: 1286px){
  .nav .un--list ul .Main--list{
    font-size: 1rem;
  }
  .nav .un--list li .Drop--Down--Add .In--Unor li a{
    font-size: .8rem;
  }
}
@media (max-width: 1170px){
  .nav .un--list ul .Main--list{
    font-size: .9rem;
  }
}

/**mimi Screens < 1000px**/
@media (max-width: 1000px) {
  .nav {
    justify-content: flex-end;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 40px;
    
  }
  

  /*Icon show*/
  #Show {
    display: flex;
    padding-right: 1em;
    margin: auto 0;
    font-size: 1.5rem;
    color: var(--blue);
  }
  .nav .un--list {
    position: fixed;
    width: 80%;
    height: 57vh;
    z-index: 3;
    flex-direction: column;
    padding: 1em;
    background-color: var(--backGround);
    margin-top: 40px;
    min-width: 235px;
  }
  .nav .un--list .Maa--Ul #Admins #example-collapse-Admin{
    width: 100%;
  } 
  .nav .un--list .close--Icon {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    justify-content: flex-end;
    padding-right: 2%;
    order: 1;
    padding-bottom: 1em;
    position: relative;
  }
  .nav #News {
      display: flex;
    color: var(--blue);
    padding-right: 1em;
    animation: daily--news;
    animation-duration: 7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    margin: auto 0;
  }
  .nav .un--list .Maa--Ul {
   
    flex-direction: column;
    order: 2;
    overflow-y: auto;
    justify-content: flex-start;
    
  }
  .nav .un--list ul li {
    font-size: 1rem;
    height: auto;
  }
  .nav .un--list ul li a {
    width: 100%;
    text-align: center;
    padding: 0.8em 0;
  }
  .nav .un--list ul li a:hover {
    color: var(--orange);
  }
  .nav .un--list .Maa--Ul > li:hover {
    background-color: transparent;
  }
  .nav .un--list li .Drop--Down--Add {
    position: initial;
    border-radius: 5px;
  }
  .nav .un--list li .Drop--Down--Add,
  .nav .un--list #Media:hover .Drop--Down--Add {
    width: 100%;
  } 
  /* .nav .un--list ul .Main--list{
    border-left: none;
  } */
  /**Toogle of nav bar**/
  #visable {
    transform: translateX(0);
    transition: 0.5s linear;
  }
  #unvisable {
    transform: translateX(100%);
    transition: 0.5s linear;
  }
}
@media (max-width: 900px){
  .nav .un--list li .Drop--Down--Add .In--Unor li{
    font-size: .69rem;
  }
}

/**Animation of daily news**/
@keyframes daily--news {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-80vw);
  }
}
@keyframes Down {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(6px);
  }
}
/*!*****************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./client/components/Home_Page/Cover.css ***!
  \*****************************************************************************************/
:root {
  --blue: #147499;
  --white: #ffffff;
  --orange: #f6852b;
  --dr-Orange: #ff8c00;
}
body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
.view {
  height: 85vh;
  min-width: 280px;
}
.view .cover {
  width: 100%;
  height: 85vh;
}
.cover #vid {
  position: relative;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.view .cover .trans--text {
  position: absolute;
  top: 85%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding-right: 2em;
  animation-name: ani--text;
  animation-duration: 3s;
  animation-timing-function: linear;
  z-index: 2;
  min-width: 280px;
}
.view .cover .Social {
  position: fixed;
  top: 45%;
  width: 40px;
  z-index: 2;
}
.view .cover .trans--text .organize {
  padding: 0.3em 0.6em;
  font-size: 2rem;
  font-weight: 600;
  width: 300px;
  font-style: italic;
}
.view .cover .trans--text .organize a {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.view .cover .trans--text .organize .right--Move {
  padding-left: 0.2em;

  font-size: 2rem;
  font-weight: 600;
}
#text {
  width: 100%;
  border-radius: 6px;
  color: var(--orange);
  background-color: rgba(255, 255, 255, 0.7);
  padding: 0.2em 0;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.view .cover .trans--text #text:hover .right--Move .iicon {
  animation-name: Arrow--Right;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: 3;
}
<<<<<<< HEAD:server/client/components/Home_Page/Cover.css
/*.block--skewed-right {

    padding-bottom: calc(var(--padding-vertical) + 5rem);

    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 90%);
  }*/

/*.block--skewed-left {
    padding-bottom: calc(var(--padding-vertical) + 4rem);

    clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 0% 100%);
  }*/

=======
>>>>>>> 8ffb1810893f4898c5e9395dcf697bbf867f1639:client/src/components/Home_Page/Cover.css
@media (max-width: 1024px) {
  .view .cover .trans--text .organize {
    font-size: 1.3rem;

    width: 205px;
  }
  .view .cover .trans--text .organize .right--Move {
    font-size: 1.5rem;
  }
}
@media (max-width: 600px) {
  .cover #vid {
    width: 100%;
    height: 100%;
  }
  .cover {
    width: 100%;
    height: 60vh;
  }
  .view .cover .trans--text {
    padding-right: 0;
  }
  .view .cover .trans--text .organize {
    font-size: 1rem;

    max-width: 165px;
    padding-right: 0;
    text-align: center;
    margin-right: 15px;
  }
  .view .cover .trans--text {
    top: 82%;
  }
  #text {
    padding: 0.4em 0;
  }
  .view .cover .trans--text .organize .right--Move {
    font-size: 1.2rem;
  }
}
@keyframes ani--text {
  0% {
    transform: translateY(-8em);
    opacity: 0.4;
  }
  30% {
    opacity: 0.6;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    transform: translateY(0em);
    opacity: 1;
  }
}
@keyframes Arrow--Right {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(20px);
  }
}

/*!*********************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./client/components/Home_Page/SocialBar.css ***!
  \*********************************************************************************************/
:root{
    --backGround: rgba(20, 116, 153, 0.5);
}

.Social--bar{
    width: 100%;
    padding: .4em;
    background-color: var(--backGround);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    
    animation-name: Social--Animation;
    animation-duration: 1s;
    animation-timing-function: linear;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    
    
}
.Social--bar a{
    width: 100%;
    height: 30px;
    
}
.Social--bar a:hover img{
    transform: scale(1.1);
}
.Social--bar a img{
    object-fit: cover;
    width: 100%;
    padding: .2em 0;
}
@keyframes Social--Animation{
    0%{
        transform: translateX(-50px);
    }
    100%{
        transform: translateX(0px);
    }
}
/*!******************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./client/components/Home_Page/slider.css ***!
  \******************************************************************************************/
.back{
    background-color: #ddd;
    height: 100%;
}
.back .container--Slide{
    width: 100%;
    height: 100%;
    margin: 0;
}
.back .container--Slide .slider{
    height: 100%;
}
.back .container .slider{
    height: 600px;
    width: 100%;
}
.carousel{
    height: 100%;
}
.carousel-inner{
    height: 100%;
}
.carousel-item{
    height: 100%;
}
.carousel-item img{
    height: 100%;
}
/*!****************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./client/components/Home_Page/card.css ***!
  \****************************************************************************************/
.root {
  --white: #ffffff;
  --blue: #147499;
  --orange: #f6852b;
  --W-gray: #ddd;
}
.arrange--news {
  padding: 1rem;
  width: 33.33%;
}

.arrange--news .news--card {
  display: flex;
  flex-direction: column;

  justify-content: center;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.news--card img {
  width: 100%;
  height: 250px;
  object-fit: fill;
  box-sizing: border-box;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.news--card .news--text {
  padding: 0.6em 1em 1.5em;
}
.news--card .news--text #explore {
  background-color: var(--orange);
  display: inline-block;
  width: 80%;
  padding: 0.4em 0;
  border-radius: 4px;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--white);
}
.news--card .news--text #explore .icon {
  font-size: 1.4rem;
  padding-left: 0.2em;
}
.news--card .news--text #explore:hover .icon {
  animation-name: Arrow--Right;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: 3;
}
.news--card .news--text h4 {
  
  
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 50px;
  margin-bottom: .3em;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 25px;
  
}
.news--card .news--text h4 a {
  color: #212529;
}

.news--card .news--text h4 a:hover {
  color: var(--orange);
}
.news--card .news--text p {
  height: 128px;
  border-top: 1px solid var(--orange);
  font-size: 1.2rem;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 24px;
  padding-top: .1em;
  margin-bottom: 0;
}
@media (max-width: 992px) {
  .arrange--news {
    width: 50%;
  }
}
@media (max-width: 670px) {
  .Addmins {
    justify-content: center;
  }
  .arrange--news {
    width: 75%;
  }
}
@media (max-width: 450px) {
  .arrange--news {
    width: 98%;
    padding: 1rem 0.2rem;
  }
}

/*!*******************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./client/components/Home_Page/Statics.css ***!
  \*******************************************************************************************/
:root{
    --blue:#147499;
    --white:#ffffff;
    --orange:#F6852B;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    font-size: 3rem;
}
.Statics{
    width: 100%;
    padding:3% 0 6% 0 ;
    min-width: 350px;
}
#Stc--bottom{
    padding-bottom: 0;
}
 .Title{
    width: 350px;
    margin: auto;
    text-align: center;
    border-bottom: 2px solid var(--orange);
}
.Statics .Organize{
    width: 90%;
    /*display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;*/
    padding: 7% 0;
    margin: auto;
    display: grid;
        grid-template-columns: repeat(4,1fr);
        min-width: 350px;
        
}
@media(max-width:1100px){
    .Statics .Organize{
        grid-template-columns: repeat(2,1fr);
    }
}
@media(max-width:450px){
    .Statics{
        min-width: 280px;
    }
    .Statics .Organize{
        grid-template-columns: repeat(1,1fr);
        min-width: 280px;
    }
     .Title{
    width: 270px;
    }
}

/*!**************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./client/components/Home_Page/VideosAboutUni.css ***!
  \**************************************************************************************************/
:root {
  --blue: #147499;
  --white: #ffffff;
  --orange: #f6852b;
  --dr-Orange: #ff8c00;
}
#Videos {
  /*background: linear-gradient(to bottom, #ece9e6, #ffffff); */
  /*background-color: #e7eff9;*/
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
.Statics #Videos--Title {
  width: 600px;
  
}
.Statics #Org--Videos {
  grid-template-columns: repeat(3, 1fr);
  padding-bottom: 0px;
  gap: 45px;
}
.Statics .Organize .Frames {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}
.Statics .Organize .Frames iframe {
  height: 300px;
  width: 95%;
  padding-bottom: 14px;
}
.Statics .Organize .Frames:hover {
  transform: scale(1.1);
}
.Statics .Organize .Frames a {
  padding: 0.5em 2em;
  /*background-color: ;*/
  font-size: 1.5rem;
  width: 95%;
  position: relative;
  color: #000;
  border: 1px solid black;
  border-radius: 4px;
}
.Statics .Organize .Frames a .Icon {
  padding-left: 3px;
  font-size: 1.8rem;
  transition: 1s;
  position: absolute;
  top: 18px;
}
.Statics .Organize .Frames a:hover {
  color: var(--orange);
}
.Statics .Organize .Frames a:hover .Icon {
  /*padding-left: 10px;*/
  transform: translateX(10px);
}

 span {
  animation-name: Move;
  animation-duration: 2s;
  animation-timing-function: linear;
  
}

/*@keyframes Move {
  0% {
    padding-right: 100px;
    opacity: 0;
  }
  10% {
    padding-right: 90px;
    opacity: 0.2;
  }
  40% {
    padding-right: 50px;
    opacity: 0.5;
  }
  100% {
    padding-right: 0;
    opacity: 1;
  }
}*/
@media(max-width:1270px){
    .Statics #Org--Videos{
        grid-template-columns: repeat(2,1fr);
        width: 94%;
       
    }
    .Statics .Organize .Frames:hover {
      transform: scale(1.1);
    }
}
@media(max-width:700px){
    .Statics #Org--Videos{
        grid-template-columns: repeat(1,1fr);
        padding: 5vh 0 2vh 0 ;

       
    }
    /*.Statics .Organize .Frames:hover {
       transform: scale(1.1);
      }*/
      .Statics #Videos--Title {
        width: 400px;
        padding-top: 2vh ;
      }
      h1{
        font-size: 2rem;
        

      }
}
@media(max-width:420px){
    .Statics #Videos--Title {
        width: 270px;
        font-size: 1.2rem;
        
      }
}
@media(max-width:300px){
    .Statics .Organize .Frames:hover {
        transform: scale(1);
      }
}


/*!******************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./client/components/Home_Page/Figure.css ***!
  \******************************************************************************************/
.Statics .Figures{
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 3% 0;
    margin: auto;
}

.circle{
    position: relative;
    width: 100%;
    /*height: 400px;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px 0;
    
    
}
.circle .outer{
width: 164px;
height: 164px;
padding: 20px;
border-radius: 50%;
box-shadow: 6px 6px 6px -1px rgba(0,0,0,0.15),
-6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}
.circle .outer .inner{
width: 126px;
height: 126px;
border-radius: 50%;
box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
inset -4px -4px 6px -1px rgba(255,255,255,0.7),
-0.5px -0.5px 0px rgba(255,255,255,1),
0.5px 0.5px 0px rgba(0,0,0,0.15),
0px 12px 10px -10px rgba(0,0,0,0.05);
display: flex;
align-items: center;
justify-content: center;

}

circle{
    fill: none;
    stroke:var(--orange);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
   
    
    
}
.Animation{
    animation: Rotate 2s linear forwards;
}
 .circle #circle{
    position: absolute;
}
@keyframes Rotate{
    
    100%{
        stroke-dashoffset: 0;
    }
}

@media(max-width:450px){
    .circle{
        min-width:280px;
    }
}

/*!*************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./client/Pages/Tour.css ***!
  \*************************************************************************/
.wrapper {
  position: relative;
}
.btn-direction {
  position: absolute;
  bottom: 20px;
  z-index: 1;
  background-color: transparent;
  outline: 0;
  border: 1px solid orange;
}
.btn-left {
  left: 20px;
  z-index: 1;
}
.btn-right {
  right: 20px;
  z-index: 1;
}
.next-location {
  margin: auto;
  position: absolute;
  bottom: 20px;
  left: 50vw;
  transform: translateX(-50%);
  width: 300px;
  background-color: rgba(0, 0, 0, 0.575);
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 20px;
  text-transform: capitalize;
  color: white;
  text-align: center;
  z-index: 1;
}

/*!************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./client/Pages/map.css ***!
  \************************************************************************/
.map {
  position: fixed;
  width: 30%;
  min-width: 300px;
  height: 200px;
  border: 2px solid black;
  background-color: white;
  bottom: 150px;
  left: 40px;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
@media (max-width: 672px) {
  .map {
    width: 90%;
  }
}
.node {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid magenta;
  background-color: orange;
}

.circle {
  fill: #15314b;
  stroke: #626ee3;
  stroke-width: 3px;
}
text {
  fill: #fff;
}

.link {
  fill: none;
  stroke: #626ee3;
  stroke-width: 3px;
}
.active_node {
  fill: #b523aad9;
}

/*!************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./client/components/faculties/engineering/Nav-faculity.css ***!
  \************************************************************************************************************/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.Icon {
  margin-left: 6px;
}
ul {
  padding: 0;
}

.Nav--Faculity {
  width: 100%;
  padding: 10px;
}

.Nav--Faculity .Nav-Links {
  margin: auto;
  width: 90%;
  
  display: flex;
  justify-content: space-around;
  padding: 0;
  align-items: center;
  text-align: center;
}
.Nav--Faculity .Nav-Links li img{
  width: 15vw;
}
.Nav--Faculity .Nav-Links a {
  font-size: 1.3vw;
  padding: 0.5em;
}

.Nav--Faculity .Nav-Links .Down--Drob {
  display: none;
  position: relative;
  z-index: 1;
  /*padding-top: 2rem;*/
}
.Nav--Faculity .Nav-Links .Down--Drob .Faculities--form {
  position: absolute;
  width: 13vw;
  padding: 0.5em;
  background-color:rgba(221, 221, 221, .4);
  top: 0.5rem;
}
.Nav--Faculity .Nav-Links .Down--Drob .Faculities--form .Un--OR {
  display: flex;
  flex-direction: column;
  align-items: center;

}
.Nav--Faculity .Nav-Links .Down--Drob .Faculities--form .Un--OR li{
  padding: 3px 0;
}
.Nav--Faculity .Nav-Links .Down--Drob .Faculities--form .Un--OR li a {
  padding: 0.1em 0;
  font-size: 1vw;
  color:black;
  /*border-bottom: 1px solid black;*/
}
.Nav--Faculity
  .Nav-Links
  .Down--Drob
  .Faculities--form
  .Un--OR
  li:not(:last-child)
  a {
  border-bottom: 2px solid black;
}
.Nav--Faculity .Nav-Links .Down--Drob .Faculities--form .Un--OR li a:hover {
  padding-left: 5px;
}
.Nav--Faculity .Nav-Links li:hover .Down--Drob {
  display: flex;
}
/*Slider*/
.carousel-control-next,
.carousel-control-prev {
  margin: 250px 0;
  
}
.carousel-control-prev-icon ,
.carousel-control-next-icon{
  background-color: black;
}
.carousel-dark .carousel-control-prev-icon,
.carousel-dark .carousel-control-next-icon {
  
  filter: invert(0) grayscale(500);
}
.carousel-caption h5,.carousel-caption p{
  color: white;
}
.carousel-indicators button{
  background-color: white;

}


.carousel-dark .carousel-indicators [data-bs-target] {
     background-color: white; 
}
