* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cardInformation {
  width: 90vw;
  max-width: 1170px;
  margin: 5rem auto;
  display: grid;
  gap: 2rem;
}

@media screen and (min-width: 770px) {
  .cardInformation {
    grid-template-columns: repeat(3, 1fr);
  }
}

.innerCard {
  background: rgb(221, 188, 188);
  border-radius: 1rem;
  padding: 1rem 2rem;
}

.innerCard:hover {
  transform: translateY(-5px) scale(1.005) translateZ(0);
  box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11),
    0 24px 46px var(--box-shadow-color);
}

h4 {
  font-size: 17px;
  color: #4c5656;
  margin-top: 30px;
  z-index: 1000;
  transition: color 0.3s ease-out;
}

p {
  color: rgba(0, 0, 0, 0.6);

  font-size: 20px%;
  font-weight: normal;
  margin-top: 20px;
}
