.icon{
    padding-inline-start:.2em;
    padding-inline-end:.2em ;
}
html[dir="ltr"] .ifncGS{
    border-start-start-radius: 5px;
    border-end-start-radius: 5px;
    
  }
  html[dir="rtl"] .ifncGS{
    border-end-end-radius:5px;
    border-start-end-radius:5px;
  }

  ul{
    list-style: none;
  }