:root {
  --blue: #147499;
  --white: #ffffff;
  --orange: #f6852b;
  --backGround: rgba(20, 116, 153, 0.5);
}
a {
  cursor: pointer;
  text-decoration: none;
  z-index: 1;
}
.lock--Icon:hover,
#Show:hover {
  color: var(--orange);
  /*background-color: var(--orange);*/
  cursor: pointer;
}
.nav {
  width: 100%;
  height: 65px;
  z-index: 2;
  color: var(--white);
  min-width: 280px;
}
/**bars icon in large screen **/
#Show {
  display: none;
}
.nav .un--list {
  width: 100%;
  height: 102%;
  background-color: var(--blue);
  display: flex;
  
}
.nav .un--list ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding:0 1% ;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.nav .un--list ul li {
  width: 100%;
  height: 100%;
  font-size: 1.07rem;
  font-weight: 500;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  position: relative;
  /* flex-direction: column; */
}
.nav .un--list ul .Main--list{
  font-weight: 600;
  padding: .2em 0;
}
.nav .un--list ul .Main--list a{
  padding: 0 .2em;
  /* height: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
}
/*******Down Arrow Animation*******/
.nav .un--list ul .Main--list:hover a #down .downIcon{
  animation-name: Down;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
  animation-iteration-count: 3;
}
.nav .un--list .Bar--Icon {
  display: none;
}

.nav .un--list .Maa--Ul > li:hover {
  background-color: var(--orange);
  transition: 0.5s;
}

.nav .un--list li .Drop--Down--Add {
  position: absolute;
  top: 65px;
  left: -2px;
  z-index: 1;
  width: 250px;
  background-color: #cccbc6;
  /* padding: .4em 0; */
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 1rem;
  
}

.nav .un--list li .Drop--Down--Add .admins--form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  transition: 0.3s;
}
.nav .un--list li .Drop--Down--Add .In--Unor {
  flex-direction: column;
}
.nav .un--list li .Drop--Down--Add .In--Unor li {
  justify-content: flex-start;
  font-size: .95rem;
  padding: 0 .5em;
  
}
.nav .un--list li .Drop--Down--Add .In--Unor li:not(:last-child) a {
  border-bottom: 2px solid var(--orange);
}
.nav .un--list li .Drop--Down--Add .In--Unor li a {
  width: 100%;
  padding: 0.5vw 0;
  line-height: 1;
}
.nav .un--list li .Drop--Down--Add ul a:hover {
  color: var(--orange);
  /* padding-inline-start: 5px; */
  transform: scale(1.03);
  transition: 0.5s;

}
.nav .un--list ul .Main--list a .downIcon{
  padding:0 .3em ;
  
}
/******first Element****/
.nav .un--list .Maa--Ul #Admins #example-collapse-Admin{
  width:23vw;
  left: 0;
  
}
.nav .un--list .Maa--Ul #Digital-Trans #example-collapse-Digital-Trans,
.nav .un--list .Maa--Ul #Arriv--Manage #example-collapse-Arrive--Manage{
  left:-155px;
}

/*large Screens >1000px*/
@media(min-width:1001px){
  .nav .un--list li .Drop--Down--Add{
    display: none;
    
  }
  .nav .un--list .Maa--Ul > li:hover .Drop--Down--Add {
    display: flex;
  }
  .nav .un--list ul .Main--list a{
    height: 100%;
    line-height: 1.2;
  }
  
  .nav .un--list #Media:hover .Drop--Down--Add {
    display: flex;
    background-color: rgba(221, 221, 221, 0.7);
    width: 13vw;
  }
  .nav .un--list ul .Main--list:not(:first-child){
    border-left: 2px solid var(--white);
  }
  .nav .un--list ul .Main--list:first-child{
    border-left: 2px solid var(--white);
  }
  .nav .un--list ul .Main--list:last-child{
    border-right: 2px solid var(--white);
  }
    
  
}
/******Daily_News*****/
.nav #News{
    display: none;

}
.nav .un--list .close--Icon{
    display: none;
}
@media (max-width: 1286px){
  .nav .un--list ul .Main--list{
    font-size: 1rem;
  }
  .nav .un--list li .Drop--Down--Add .In--Unor li a{
    font-size: .8rem;
  }
}
@media (max-width: 1170px){
  .nav .un--list ul .Main--list{
    font-size: .9rem;
  }
}

/**mimi Screens < 1000px**/
@media (max-width: 1000px) {
  .nav {
    justify-content: flex-end;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 40px;
    
  }
  

  /*Icon show*/
  #Show {
    display: flex;
    padding-right: 1em;
    margin: auto 0;
    font-size: 1.5rem;
    color: var(--blue);
  }
  .nav .un--list {
    position: fixed;
    width: 80%;
    height: 57vh;
    z-index: 3;
    flex-direction: column;
    padding: 1em;
    background-color: var(--backGround);
    margin-top: 40px;
    min-width: 235px;
  }
  .nav .un--list .Maa--Ul #Admins #example-collapse-Admin{
    width: 100%;
  } 
  .nav .un--list .close--Icon {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    justify-content: flex-end;
    padding-right: 2%;
    order: 1;
    padding-bottom: 1em;
    position: relative;
  }
  .nav #News {
      display: flex;
    color: var(--blue);
    padding-right: 1em;
    animation: daily--news;
    animation-duration: 7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    margin: auto 0;
  }
  .nav .un--list .Maa--Ul {
   
    flex-direction: column;
    order: 2;
    overflow-y: auto;
    justify-content: flex-start;
    
  }
  .nav .un--list ul li {
    font-size: 1rem;
    height: auto;
  }
  .nav .un--list ul li a {
    width: 100%;
    text-align: center;
    padding: 0.8em 0;
  }
  .nav .un--list ul li a:hover {
    color: var(--orange);
  }
  .nav .un--list .Maa--Ul > li:hover {
    background-color: transparent;
  }
  .nav .un--list li .Drop--Down--Add {
    position: initial;
    border-radius: 5px;
  }
  .nav .un--list li .Drop--Down--Add,
  .nav .un--list #Media:hover .Drop--Down--Add {
    width: 100%;
  } 
  /* .nav .un--list ul .Main--list{
    border-left: none;
  } */
  /**Toogle of nav bar**/
  #visable {
    transform: translateX(0);
    transition: 0.5s linear;
  }
  #unvisable {
    transform: translateX(100%);
    transition: 0.5s linear;
  }
}
@media (max-width: 900px){
  .nav .un--list li .Drop--Down--Add .In--Unor li{
    font-size: .69rem;
  }
}

/**Animation of daily news**/
@keyframes daily--news {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-80vw);
  }
}
@keyframes Down {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(6px);
  }
}