.back{
    background-color: #ddd;
    height: 100%;
}
.back .container--Slide{
    width: 100%;
    height: 100%;
    margin: 0;
}
.back .container--Slide .slider{
    height: 100%;
}
.back .container .slider{
    height: 600px;
    width: 100%;
}
.carousel{
    height: 100%;
}
.carousel-inner{
    height: 100%;
}
.carousel-item{
    height: 100%;
}
.carousel-item img{
    height: 100%;
}