:root{
    --blue:#147499;
    --white:#ffffff;
    --orange:#F6852B;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    font-size: 3rem;
}
.Statics{
    width: 100%;
    padding:6% 0 ;
    min-width: 350px;
    
}
.Statics .Title{
    width: 350px;
    margin: auto;
    text-align: center;
    border-bottom: 2px solid var(--orange);
}
.Statics .Organize{
    width: 90%;
    /*display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;*/
    padding: 7% 0;
    margin: auto;
    display: grid;
        grid-template-columns: repeat(4,1fr);
        min-width: 350px;
        
}
@media(max-width:1100px){
    .Statics .Organize{
        grid-template-columns: repeat(2,1fr);
    }
}
@media(max-width:450px){
    .Statics{
        min-width: 280px;
    }
    .Statics .Organize{
        grid-template-columns: repeat(1,1fr);
        min-width: 280px;
    }
    .Statics .Title{
    width: 270px;
    }
}
