.student{
    background-color: #000000;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23222' stroke-width='10' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
}
.student .container{
    width: 80%;
}
.student .container .stu--uni{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
}
.student .container .stu--uni .activity{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#147499 ;
    padding: 15% 0;
}
.student .container .stu--uni .activity:hover{
    color:#F6852B ;
    transform: scale(1.05);
    
}
.student .container .stu--uni .activity .icon {
    font-size: 8.5rem;
}
.student .container .stu--uni .activity .drop{
    display: none;
    width: 100%;
}
.student .container .stu--uni .activity .drop ul{
    list-style: none;
    width: 100%;
    padding: 0;
    
}
.student .container .stu--uni .activity .drop ul li{
    padding: 4px 0;
    font-size: 1.5rem;
    position: relative;
    border-bottom: 2px solid #147499;
    width: 100%;
    

}
.student .container .stu--uni .activity .drop ul li:hover{
    color: white;
    animation-name: anii;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    


}
.student .container .stu--uni .activity:hover .drop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;

}
@keyframes anii{
    100%{
     left: 5%;
    }
    
}


@media (max-width:1024px){
    .student .container .stu--uni{
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width:600px){
    .student .container .stu--uni{
        grid-template-columns: repeat(1,1fr);
    }
}